* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    overflow: hidden;
}
.logo{
  display: flex;
justify-content: center;
margin: 0 auto;
padding: 0 auto;
}
.logo img{
    margin-top: 100px;
    width: 300px;
}

.box{
    margin-top: 120px;
}
.box-principal{
    display: flex;
    flex-direction: row;
    gap: 30px;
   align-items:center ;
  width: 100%;
  max-width: 700px;;
  margin: 0 auto;
  border: none;
}

.box h1{
  font-size: 4vh;
  color: #fff;
  text-align: center;
  margin-bottom: 5vw;

  
}
    


.box-principal li{
 list-style: none;
 opacity: 0.8;
     
 width: 160px;
 max-width: 100%;
 text-align: center;
 cursor: pointer;
}


 .box-principal li p{
    color: #ffffff67;
    font-size: 22px;
    font-weight: bolder;
    padding-top: 10px;
    border: none;
   
   
 }

.box-principal li img{
   max-width: 100%;
border-radius: 8px;

}
#profile{
 
    width: 160px;
    height: 154px;
 transform: translateY(-13%);

}
.background{
    background-color: #242424;
    border-radius: 8px;
    max-width: 100%;
    min-height: 100%;
}

#imagem-profile{
  border: none;
  object-fit: cover;
  padding-top: 37px;
  margin-top: 10px;
 height:100px;
 max-width: 100%;
text-align: center;
}


.box-principal li a{
    text-decoration: none;
    border: none;
   
}

.btn-rodape{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}
.btn-rodape a{
border: 1px solid #ffffff;
color: #ffffff;
width: 15vw;
height: 3vw;
text-decoration: none;
display: flex;
text-align: center;
padding-top: 5px;
padding-left: 33.5px;



border-radius: 5px;
font-size: 20px;

}


.box-principal :hover{
 border-radius: 8px;
    transition: 0.3s;
   opacity: 1;
   transform: scale(1.1);
   
   
}



.btn-rodape a:hover{
  background: #fff;
  color: black;
}